---
import { variant } from '@/lib/style.ts'
import type { VariantProps } from '@hulla/style'

const buttonVariant = variant({
  name: 'variant',
  classes: {
    primary: 'primary',
    secondary: 'secondary'
  },
  base: 'base',
  default: 'primary'
})

type Props = VariantProps<typeof buttonVariant>
const props = Astro.props
---

<button class={buttonVariant.css(props.variant)}><slot /></button>

<style>
  .primary {
    color: greenyellow;
  }
  .secondary {
    color: aquamarine;
  }
  .base {
    border: 2px solid;
    padding: 0.5rem;
  }
  .base:hover {
    opacity: 0.8;
  }
</style>
