---
import { cn, vn } from '@/lib/style.ts'

const $color = vn({
  primary: "primary",
  secondary: "secondary",
})

interface Props {
  color?: typeof $color.infer
}

const { color = 'primary' } = Astro.props
---

<button class={cn('base', $color(color))}><slot /></button>

<style>
  .primary {
    color: greenyellow;
  }
  .secondary {
    color: aquamarine;
  }
  .base {
    border: 2px solid;
    padding: 0.5rem;
  }
  .base:hover {
    opacity: 0.8;
  }
</style>
