---
import { vn } from '@/lib/style.ts'
import type { VariantProps } from '@hulla/style'

const css = vn({
  base: 'base',
  props: {
    variant: {
      primary: 'primary',
      secondary: 'secondary'
    }
  },
  defaults: {
    variant: 'primary'
  }
})

type Props = VariantProps<typeof css>
const props = Astro.props
---

<button class={css(props)}><slot /></button>

<style>
  .primary {
    color: greenyellow;
  }
  .secondary {
    color: aquamarine;
  }
  .base {
    border: 2px solid;
    padding: 0.5rem;
  }
  .base:hover {
    opacity: 0.8;
  }
</style>
