---
import { vn } from "@/lib/style";
import type { VariantProps } from "@hulla/style";
import type { HTMLAttributes } from "astro/types";

const css = vn({
  base: 'border-2 p-2 hover:opacity-80',
  props: {
    variant: {
      primary: "text-lime-400 border-lime-400",
      secondary: "text-teal-300 border-teal-300",
    }
  },
  defaults: {
    variant: "primary"
  }
});

type Props = HTMLAttributes<'button'> & VariantProps<typeof css>;
const props = Astro.props
---

<button class={css(props)}><slot /></button>