---
import { cn, vn } from "@/lib/style";
import type { HTMLAttributes } from "astro/types";

const $size = vn({
  sm: "px-2 py-1 text-sm",
  md: "px-4 py-2 text-base",
  lg: "px-6 py-3 text-lg",
});

const $color = vn({
  primary: "text-lime-400 border-lime-400",
  secondary: "text-teal-300 border-teal-300",
});

interface Props extends HTMLAttributes<'button'> {
  size?: typeof $size.infer
  color?: typeof $color.infer
}

const { size = "md", color = "primary" } = Astro.props
---

<button class={cn('border-2 cursor-pointer hover:opacity-80', $size(size), $color(color))}><slot /></button>
