---
import { variant } from "@/lib/style";
import type { VariantProps } from "@hulla/style";
import type { HTMLAttributes } from "astro/types";

const buttonVariant = variant({
  name: 'variant',
  classes: {
    primary: "text-lime-400 border-lime-400",
    secondary: "text-teal-300 border-teal-300",
  },
  base: 'border-2 p-2 hover:opacity-80',
  default: "primary"
});

type Props = HTMLAttributes<'button'> & VariantProps<typeof buttonVariant>;
const props = Astro.props
---

<button class={buttonVariant.css(props.variant)}><slot /></button>