---
import { cn, vn } from "@/lib/style";
import type { HTMLAttributes } from "astro/types";

const $variant = vn({
  primary: "text-lime-400 border-lime-400",
  secondary: "text-teal-300 border-teal-300",
});

interface Props extends HTMLAttributes<'button'> {
  variant?: typeof $variant.infer
}

const { variant = "primary" } = Astro.props
---

<button class={cn('border-2 p-2 hover:opacity-80', $variant(variant))}><slot /></button>
